.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgb(233, 233, 233);
}

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 40%;
	text-align: left;
	color: rgb(68, 68, 68);
}

.login-input {
	width: 80%;
	margin-bottom: 10%;
}

.login-button {
	padding: 2rem 0;
	margin-top: 10rem;
	width: 20%;
}
